@CHARSET "UTF-8";

.daak-photo-manager {
    width: 100%;
    height: 100%;
    background-image: url("../images/daakchessboard.jpg");
    position: relative;
}

.daak-photo-manager > canvas {
    width: 100%;
    height: 100%;
}

.daak-crop {
    position: absolute;
    cursor:move;
}

.daak-table-container {
    position: relative;
    width: 100%;
    height: 100%;
}

 .daak-handle-top,  .daak-handle-bottom,
 .daak-handle-left-top,  .daak-handle-left,
 .daak-handle-left-bottom,  .daak-handle-right-top,
 .daak-handle-right,  .daak-handle-right-bottom {
    width: 5px;
    height: 5px;
    border: 1px #534e4b solid;
    position: absolute;
    background-color: #e4661b;
}
.daak-handle-top {
    top: -4px;
}
.daak-handle-bottom {
    bottom: -4px;
}
.daak-handle-left-top {
    left: -4px;
    top: -4px;
}
.daak-handle-left {
    left: -4px;
}
.daak-handle-left-bottom {
    left: -4px;
    bottom: -4px;
}
.daak-handle-right-top {
    right: -4px;
    top: -4px;
}
.daak-handle-right {
    right: -4px;
}
.daak-handle-right-bottom {
    right: -4px;
    bottom: -4px;
}

.daak-handle-top, .daak-handle-bottom{
    left: calc(50% - 5px);
    cursor:n-resize;
}
.daak-handle-left-bottom, .daak-handle-right-top {
    cursor:ne-resize;
}
.daak-handle-right, .daak-handle-left{
    top: calc(50% - 5px);
    cursor:w-resize;
}
.daak-handle-left-top, .daak-handle-right-bottom {
    cursor:nw-resize;
}

.daak-crop > table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.daak-crop td {
    border: 1px #7b7d7c dashed;
}