.daak-zoom-tool {
    padding: 5px 0;
}

.daak-zdegree {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin: auto;
    box-shadow: 0px 0px 6px 3px rgba(183, 179, 176, 0.4);
    position: relative;
    cursor: default;
}

.daak-zknob {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8) inset;
    position: absolute;
    left: 142px;
    top: 67px;
    cursor: pointer;
}